body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    color: white;

}

.color-lightgray {
    color: #9E9E9E;
}

h2 {
    font-size: 40px;
    font-weight: 800;
}

p {
    margin-bottom: 3%;
}

.bg-img {
    background-image: url('images/donation1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%, 100%;
}

.center {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, #FF5050);
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
    font-size: 20px;
}

.inline {
    display: flex;
}

.inline-item {
    background-color: lightgray;
    padding: 30px;
    margin: 20px 15px;
    font-size: 20px;
}

#border-red {
    border: 2px solid red;
    background-color: #FFC8C8;
    border-radius: 5px;
}