body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    color: white;

}

p {
    margin-bottom: 3%;
}

.bg-img {
    background-image: url('images/donation1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%, 100%;
}

.center {
    text-align: center;
    margin: 20px, 40px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, #FF5050);
    padding: 2px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
    font-size: 20px;
}