body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    color: white;

}

h2 {
    font-size: 40px;
    font-weight: 800;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

p {
    margin-bottom: 3%;
}


.color-lightgray {
    color: #9E9E9E;
}

/*header section image*/
.bg-img {
    background-image: url('images/donation1.jpg');
    opacity: .7;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%, 100%;
}

.center {
    text-align: center;
    padding: 100px;
    margin: auto;
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, #FF5050);
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
    font-size: 20px;
}

.flexible-display {
    display: flex;
}

/*Donate Today Inline Item*/
.inline-item {
    background-color: lightgray;
    padding: 30px;
    margin: 20px 15px;
    font-size: 20px;
}

#inline-second-item {
    border: 2px solid red;
    background-color: #ffe6e2;
    border-radius: 5px;
    color: red;
}

/*Donate Plan boxes*/
.donate-plan {
    background-color: aqua;
    width: 33%;
    padding: 40px 20px;
    margin: 0px 8px;
}

/*Donate Plan box center*/
.center-item {
    padding: 20px;
    margin: auto;
    width: 90%;
}


#plan-one {
    background-color: #F1F1F1;
}

#plan-two {
    background-color: #FFE8F3;
}

#plan-three {
    background-color: #FFFCD1;
}

/*Targeted Distribution*/
.distribution-bg {
    background-color: #d2e7b7;
    box-shadow: 20px 20px 40px gray;
    margin: 80px;
    width: 70%;
}

.distribution-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}

.distribution-item img {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}

/*Get My Updates button*/
.update-bg {
    background-color: #ffe6e2;
    width: 100%;
    padding: 60px;
}

.update-button {
    text-decoration: none;
    background-color: #9E9E9E;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
}

.align-center {
    text-align: center;
    padding: 20px 50px;
    margin: auto;
}

/*footer section*/
.footer-item {
    font-family: cursive;
    font-size: 25px;
    font-weight: 800;
    color: #FF5050;
}

footer {
    background-color: black;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer p {
    color: #C3C3BB;

}